{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": "https://dreammachine.casa:8123",
    "internal_url": "http://10.10.0.2:8123",
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}