{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 0,
    "longitude": 0,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "DreamMachine",
    "time_zone": "UTC",
    "external_url": "https://dreammachine.casa:8123",
    "internal_url": "http://10.10.0.2:8123",
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}